* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  width: 100%;
  display: table;
}

body {
  display: table-cell;
  vertical-align: middle;
  background: #222222;
}

h1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 75px;
  letter-spacing: -2px;
  text-align: center;
  color: #0f0f0f;
  text-shadow: 0 -1px 0 black, 0 1px 0 rgba(255, 255, 255, 0.055);
  margin-top: -100px;
  letter-spacing: -2px;
}

.Slider {
  position: relative;
  width: 500px;
  height: 316px;
  margin: 0 auto;
  overflow: hidden;
  border: 5px solid white;
  perspective: 1000;
}

.Slider-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
  transform: translateX(100%);
}
.Slider-slide.is-active {
  z-index: 2;
}
.Slider-slide.is-previous {
  z-index: 1;
}
.Slider-slide.is-active {
  transform: translateX(0);
}
.Slider-slide.is-previous {
  transform: translateX(-100%);
}
