.Tractile
  max-width: 500px
  height: 316px
  border: 5px solid #fff

.Tractile--fullscreen
  position: absolute
  top: 0
  width: 100%
  max-width: 100%
  height: 100%
  border: none

  img
    max-width: 100%
    min-width: 100%

.splash .Tractile-slide
  background: white

  h2
    color: #777