@import tractile-config
@import tractile-plugin
@import tractile-skin

*
  box-sizing: border-box

html,body
  height: 100%

html
  width: 100%
  display: table

body
  display: table-cell
  vertical-align: middle
  background: #222

h1
  font-family: "corner-store", sans-serif
  font-size: 85px
  letter-spacing: -2px
  text-align: center
  color: #fff
  text-shadow: 0 -1px 0 #000 //, 0 1px 0 rgba(#fff, 0.055)
  margin-top: -60px
  margin-bottom: 0
  letter-spacing: -2px

h3
  margin: -20px 0 90px
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight: 300
  text-align: center
  font-size: 20px
  color: #ccc
  -webkit-font-smoothing: antialiased